extends layout

block content
	.container
		h1.mt-5 Главная страница
		p
		a(href='/listTeacher') Список преподавателей
		p
		a(href='/listGroup') Список групп
		p
		a(href='/listSubject') Список предметов
		p
		a(href='/listStudent') Список студентов
		p
		a(href='/listParent') Список родителей
		p
		a(href='/listCurator') Список кураторов
		p
		p Регистрация
		a(href='/importSchedule') Импорт расписания
		p
		a(href='/reports') Отчеты
		p Личный кабинет - изменить фио, пароль, email и т.д.
