extends layout

block content
	.container
		h1.mt-5 Главная страница
		p
		a(href='/listTeachers') Список преподавателей
		p
		a(href='/listGroups') Список групп
		p
		a(href='/listSubjects') Список предметов
		p
		a(href='/listStudents') Список студентов
		p
		a(href='/listParents') Список родителей
		p
		a(href='/listCurators') Список кураторов
		p
		a(href='/listSemesters') Список семестров
		p
		p Регистрация
		a(href='/importSchedule') Импорт расписания
		p
		a(href='/reports') Отчеты
		p Личный кабинет - изменить фио, пароль, email и т.д.
